.g1-social-icon--facebook {background-color: #3b5998;}
.g1-social-icon--googleplus {background-color: #d14836;}
.g1-social-icon--pinterest {background-color: #cb2027;}
.g1-social-icon--twitter {background-color: #39a9e0;}
.g1-social-icon--youtube {background-color: #cd332d;}